.home {
  padding-left: 50px;
  padding-right: 50px;

  h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  }

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    input {
      width: 30%;
    }

    input:focus {
      border-color: #ff0000;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(255, 0, 0, 0.6);
    }
  }
}

@media (max-width: 600px) {
  .home__search {
    input {
      width: 50%;
    }
  }
}
