.modal {
  text-align: center;

  &__header {
    background-color: red;
    border-bottom: 0;

    &__title {
      display: flex;
      justify-content: space-between;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
  }

  &__footer {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center !important;

    &--release {
      display: flex;
      justify-content: center;
      align-items: center;
      color: red;
    }

    &__actions {
      display: flex;
      gap: 10px;
    }
  }
}

@media (max-width: 600px) {
  .modal {
    width: 80vw !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}
