.movieItem {
  display: flex;
  min-height: 250px;
  max-height: 500px;
  width: calc((100vw - 100px - (5 * 10px)) / 6);
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  position: relative;

  img {
    width: 100%;
    height: fit-content;
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
    min-height: 100%;
  }

  span {
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bold;
    font-style: italic;

    height: 100%;
  }
}

.active {
  border: 10px solid red;
}

.active img {
  transform: scale(110%);
  transition: all 0.5s;
}

@media (max-width: 762px) {
  .movieItem {
    min-height: unset;
  }

  .active {
    border: 5px solid red;
  }
}

@media (max-width: 600px) {
  .movieItem {
    min-height: unset;
    width: calc((100vw - 100px - 10px) / 1);
  }

  .active {
    border: 5px solid red;
  }
}
