.movieItem {
  display: flex;
  min-height: 200px;
  width: calc((100vw - 100px - (5 * 10px)) / 6);
  overflow: hidden;

  img {
    width: 100%;
    height: fit-content;
  }
}

.active {
  border: 5px solid red;
}

.active img {
  transform: scale(120%);
  transition: all 0.5s;
}

@media (max-width: 762px) {
  .movieItem {
    min-height: unset;
  }
}
